.tablaUsuario-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,83,44,1) 100%);
}

.usuario-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

.contenedor-tablas{
    width: 90%;
    overflow-x:auto;
    overflow-y:auto;
}
.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--filled{
    background-color: aqua;
}

table {
    width: 100%;
  }
  

  td, th {
    width: 25%;
  }

.header-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*Botones*/
button {
    padding: 0 2px 2px 0;    /* Variables */
    --button_radius: 0.75em;
    --button_color: #b0e68d;
    --button_outline_color: #000000;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }

  button  .actualizar{
    --button_color: #e6cd8d;
  }
  button  .eliminar{
    --button_color: #e14e4e;
  }
  button[disabled] .button_top {
    /* Efecto de bloqueo */
    pointer-events: none; /* Desactiva eventos de puntero */
    opacity: 0.5; /* Reducir la opacidad */
  }
  
  button:not([disabled]) .button_top {
    /* Efecto de desbloqueo */
    pointer-events: auto; /* Restaurar eventos de puntero */
    opacity: 1; /* Restaurar la opacidad */
    
  }
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  button[disabled]:hover .button_top,
button[disabled]:active .button_top {
  /* Elimina cualquier efecto de transformación cuando el botón está deshabilitado */
  transform: none !important;
}
/*botones*/




  .tabla-redondeada {
    border-collapse: collapse;
    width: 100%;
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
}

.tabla-redondeada th, .tabla-redondeada td {
   
    padding: 8px;
    text-align: left;
}

.tabla-redondeada th {
    background-color: #658f69db;
}

.tabla-redondeada th:first-child,
.tabla-redondeada td:first-child {
    width: 10%; /* Ancho de la primera columna */
}

.tabla-redondeada th:nth-child(2),
.tabla-redondeada td:nth-child(2) {
    width: 20%; /* Ancho de la segunda columna */
}

.tabla-redondeada th:last-child,
.tabla-redondeada td:last-child {
    width: 30%; /* Ancho de la tercera columna */
}


/*Inicio del CSS para el DIALOG de Crear Usuaior*/


.modal-header{
  border-bottom: none;
}
.input {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;

  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}
.form-text{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  font-weight: bold;
  
}
.primerModal{
  width: 60%;
}
.segundoModal{
width: 100%;
}
.btn-create{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px;
  background-color: #224e27;
  color: white;
  text-align: center;
  border-radius: 8px;
  transition: 0.3s;
} 
.btn-create:hover{
  background-color: #009970;
}
