.home-body{
    background: linear-gradient(0deg, rgba(233,173,43,1) 0%, rgba(136,183,108,1) 61%, rgba(39,83,44,1) 100%);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-brand{
    color: #D79A16;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
    margin-right: 0;

}
.navbar{
    background-color: aliceblue;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    background-color:#224e27;
}

.login{
    background-color: #009970;
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s background-color;
    border: none;
}
.login:hover{
    background-color: #07af82;
}
.navbar-toggler{
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link {
  color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
}

.nav-link:hover, .nav-link.active {
    color: #D79A16;
}



.modal-header{
    border-bottom: none;
}
.input {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
  
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
  }
  
  .input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
  }
  
  .input:focus {
    border: 2px solid var(--input-focus);
  }
  .form-text{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: bold;
    
  }

  
 .primerModal{
    width: 60%;
 }
 .segundoModal{
  width: 100%;
 }
  .btn-sesion{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    padding: 6px;
    background-color: #224e27;
    color: white;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
  } 
  .btn-sesion:hover{
    background-color: #009970;
  }
  
  .registrar{
    display: flex;
    justify-content: space-around;
    
  }
  .horizontal{
    margin-bottom: 20px; 
    display: flex;
    justify-content: space-between;
  }

.dropdown-menu{
    backdrop-filter: blur(5px);
    background: #316b354f;
}
.li-drop{
  cursor: pointer;
}

.contenedor-tablas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
}

.reducir-tabla{
    width: 80%;
    height: 80%;
    background-color: #fff;
}
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.alert{
  z-index: 1;
}
.nombreUsuario{
  color: #fff;
}



.file-upload-form {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload-label svg {
  height: 40px;
  fill: rgb(82, 82, 82);
}

.file-upload-label {

  cursor: pointer;
  background-color: #ddd;
  padding: 30px 30px;
  border-radius: 40px;
  border: 2px dashed rgb(82, 82, 82);
  box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
  width: 100%;
}
.file-upload-design {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 991px) {
    .nav-link::before {
    content: "";
    position: absolute;
    bottom: 2px; /* Ajusta esta propiedad según la distancia que quieras de la línea al texto */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    transition: width 0.3s ease-in-out; /* Transición solo en la propiedad width */
    visibility: hidden; /* Inicialmente, la línea es invisible */
}



.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    visibility: visible; /* Se hace visible cuando se activa o se pasa el mouse por encima */
}



}
@media (max-width: 991px){
  .offcanvas-body {
    background-image: radial-gradient(circle at center center, rgb(50,112,43),rgb(10, 3, 9));
  }
    .modal-content{
    width: 70%;
 }
 .horizontal{
  flex-direction: column;
 }
.name-input{
  width: 100% !important;
}
#file{
  display: none;
}
}

/*Css de la tabla*/

