<div class="home-body">
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 63.321 63.321"
        style="enable-background: new 0 0 63.321 63.321; width: 40px"
        xml:space="preserve"
        class="navbar-brand me-auto"
      >
        <g>
          <g id="group-9svg">
            <path
              id="path-1_29_"
              d="M40.66,63.321c-0.828,0-1.5-0.671-1.5-1.5v-21.5c0-0.828,0.245-1.5,1.073-1.5H52.92
                   c0.226,0,1.24-0.09,1.24-0.5V18.239c0-0.654-0.481-1.271-0.965-1.736c-0.503-0.482-1.054-0.735-1.744-0.705
                   c-1.3,0.052-2.291,1.25-2.291,2.615v13.908c0,0.829-1.099,1.5-1.927,1.5h-7c-0.828,0-1.073-0.671-1.073-1.5V10.992
                   c0-4.25-3.537-7.833-7.625-7.987c-2.256-0.089-4.302,0.739-5.941,2.318c-1.638,1.578-2.434,3.686-2.434,5.935v29.063
                   c0,0.829-1.099,1.5-1.927,1.5h-6c-0.828,0-1.073-0.671-1.073-1.5V27.339c0-1.365-1.311-2.562-2.611-2.614
                   c-0.707-0.03-1.242,0.222-1.744,0.704C9.32,25.895,9.16,26.512,9.16,27.166v18.965c0,0.413-0.157,0.69,0.244,0.69h11.829
                   c0.828,0,1.927,0.672,1.927,1.5v13.5c0,0.829-0.672,1.5-1.5,1.5s-1.5-0.671-1.5-1.5v-12H9.404c-2.058,0-3.244-1.62-3.244-3.69
                   V27.166c0-1.478,0.381-2.863,1.459-3.9c1.08-1.038,2.65-1.603,4.156-1.539c2.91,0.116,5.385,2.634,5.385,5.612v11.482h3V11.258
                   c0-3.072,1.015-5.947,3.246-8.095c2.233-2.151,5.262-3.269,8.35-3.155c5.677,0.213,10.404,5.14,10.404,10.984v19.829h4V18.413
                   c0-2.978,2.153-5.496,5.064-5.613c1.459-0.059,3.076,0.502,4.157,1.54c1.079,1.037,1.779,2.421,1.779,3.899v20.082
                   c0,1.996-2.066,3.5-4.24,3.5H42.16v20C42.16,62.65,41.488,63.321,40.66,63.321z"
            />
          </g>
        </g>
      </svg>
      
    
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"

        >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">CINE OASIS</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
              <li class="nav-item mx-lg-2" >
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" data-bs-dismiss="offcanvas" [routerLinkActiveOptions]="{exact: true}">Home</a>
              </li>
              <li class="nav-item mx-lg-2">
                <a class="nav-link" [routerLink]="['/combos']" data-bs-dismiss="offcanvas" routerLinkActive="active">Combos</a>
              </li>
              <li class="nav-item mx-lg-2">
                <a class="nav-link" [routerLink]="['/cartelera']" routerLinkActive="active">Cartelera</a>
              </li>
              <!--Parte del admin-->
              @if(identityAux&&identityAux.permisoAdmin==1){
                 <li class="nav-item mx-lg-2 dropdown" routerLinkActive="active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">Administrar</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="li-drop" [routerLink]="['/usuarioAdministracion']" ><a class="nav-link"><i class="fa-solid fa-user" style="margin-right: 10px;"></i> Usuarios</a></li>
                    <li class="li-drop" [routerLink]="['/peliculaAdministracion']"><a class="nav-link"><i class="fa-solid fa-play" style="margin-right: 10px;"></i> Peliculas</a></li>
                    <li class="li-drop" ><a class="nav-link"><i class="fa-solid fa-utensils" style="margin-right: 10px;"></i> Comidas</a></li>
                    <li class="li-drop" ><a class="nav-link"><i class="fa-solid fa-chair" style="margin-right: 10px;"></i> Asientos</a></li>
                  </ul>
                </li>
              }
             
            </ul>
          </div>
      </div>
                      @if(identity){
                      <div class="dropdown">
                        <button  data-bs-toggle="dropdown" style="font-size: 18px;" aria-expanded="false" class="dropdown-toggle flex nombreUsuario items-center text-sm pe-1 text-gray-900 rounded-full hover:text-blue-600 dark:hover:text-blue-500 md:me-0 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-white" type="button">
                        @if (identity.imagen == "") {
                          <img class="w-8 h-8 me-2 rounded-full" src="../../../assets/img/R.jpg" alt="user photo">
                        }
                        @else{
                          <img class="w-8 h-8 me-2 rounded-full" [src]="imageURL" alt="user photo">
                        }
                        {{identity.name}}
                      </button>
                  <!-- Dropdown menu -->
                        <div class="dropdown-menu dropdown-menu-end z-10 hidden bg-white divide-y divide-gray-100 rounded-lg  w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <div class="px-4 py-3 text-sm text-wi-900 dark:text-white">
                        <div class="truncate">{{identity.email}}</div>
                        </div>
                      <ul class="py-2 text-sm">
                        <li>
                          <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editModal">Editar perfil</a>
                        </li>
                      </ul>
                      <div class="py-2">
                        <a href="#" (click)="logOut()" class="block px-4 py-2 text-sm text-red-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 ">Sign out</a>
                      </div>
                    </div>
                    </div> 
                      }@else {   
                        <button type="button" class="login" data-bs-toggle="modal" data-bs-target="#exampleModal">Inicio de sesion</button>
                      }
                      <button
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="offcanvas"
                      data-bs-target="#offcanvasNavbar"
                      aria-controls="offcanvasNavbar"
                      aria-label="Toggle navigation"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
    </div>
  </nav>

 <!--modal-dialog-centered-->
 <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog" style="display: flex; justify-content: center;">
    <div class="modal-content primerModal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio de sesión</h1>
        <a class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.resetForm(loginForm)"></a>
      </div>
      <div class="modal-body">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div style="margin-bottom: 20px;">
            <label for="emailLogin"  class="form-text modal-title">Tu correo electrónico</label>
            <input type="email" id="emailLogin" #emailLogin="ngModel" name="emailLogin" 
            required class="input" [(ngModel)]="user.email"/>
          </div>
          <div>
            <label for="passwordLogin" class="form-text modal-title">Su contraseña</label>
            <input type="password" id="passwordLogin" #passwordRegpasswordLoginister="ngModel" name="passwordLogin" 
            required class="input" [(ngModel)]="user.password"/>
          </div>
          <input type="submit" class="btn-sesion" value="Iniciar sesión en tu cuenta">
          <div class="registrar">
            <p>¿No estás registrado?</p>
            <a href="#" (click)="this.resetForm(loginForm)" style="text-decoration: none;" data-bs-dismiss="modal" data-bs-target="#registrarModal" data-bs-toggle="modal">Crear cuenta</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2: Crear cuenta -->
<div class="modal fade" id="registrarModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="display: flex; justify-content: center;">
    <div class="modal-content segundoModal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registrarModalLabel">Crear cuenta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="this.resetForm(loginForm)"></button>
      </div>
      <div class="modal-body">
        <span>
      @switch (status) {
          <!-- @case (0) {
              <div class="alert alert-success"><p>Registro exitoso! </p></div>
              
          } -->
          @case (1) {
              <div class="alert alert-warning"><p>No se pudo agregar el usuario!</p></div>
          }
          @case (2) {
              <div *ngFor="let error of errores" class="alert alert-danger">
                  <p>{{ error }}</p>
              </div>
              <!-- <div class="alert alert-danger"><p>Error de servidor!</p></div> -->
          }
      }
      </span>
        <form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
          <div class="horizontal">
            <div class="name-input" style="width: 45%; margin-bottom: 10px;">
            <label for="nameRegister"  class="form-text modal-title">Nombre</label>
            <input type="text" id="nameRegister" #nameRegister="ngModel" name="nameRegister" pattern="^[a-zA-Z]*$" 
            required  class="input" [(ngModel)]="user.name"/>

            @if(!nameRegister.valid && nameRegister.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }
              
            </div>
            <div class="name-input" style="width: 45%;">
            <label for="lastnameRegister"  class="form-text modal-title">Apellido</label>
            <input type="text" id="lastnameRegister" #lastnameRegister="ngModel" name="lastnameRegister" pattern="^[a-zA-Z]*$" 
            required  class="input" [(ngModel)]="user.apellido" placeholder="Digita tu primer apellido"/>
            
            @if(!lastnameRegister.valid && lastnameRegister.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }

            </div>
          </div>
          <div style=" margin-bottom: 20px; ">
            <label for="emailRegister"  class="form-text modal-title">Correo</label>
            <input type="email" id="emailRegister" #emailRegister="ngModel" name="emailRegister" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" 
            required placeholder="ejemplo@gmail.com" class="input" [(ngModel)]="user.email"/>

            @if(!emailRegister.valid && emailRegister.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }

          </div>
          <div style=" margin-bottom: 20px; ">
            <label for="passwordRegister"  class="form-text modal-title">Contraseña</label>
            <input type="password" id="passwordRegister" #passwordRegister="ngModel" name="passwordRegister" 
            required class="input" [(ngModel)]="user.password" placeholder="contraseña"/>
          </div>
          <div style=" margin-bottom: 20px; ">
            <label for="date"  class="form-text modal-title">Fecha de Nacimiento</label>
            <input type="date" id="date" #date="ngModel" name="date"
            required class="input" [(ngModel)]="user.fechaNacimiento"/>
          </div >
          <input type="submit" class="btn-sesion" [disabled]="signupForm.invalid" value="Registrar nueva cuenta">
          
          <div class="registrar">
        
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Modal de editar-->
@if(identityAux){
<div class="modal fade" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="registrarModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="display: flex; justify-content: center;">
    <div class="modal-content segundoModal">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editModalLabel">Edicion de perfil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeUpdateUserDialog(loginForm)"></button>
      </div>
      <div class="modal-body">
        <span>
      @switch (status) {
          <!-- @case (0) {
              <div class="alert alert-success"><p>Registro exitoso! </p></div>
          } -->
          @case (1) {
              <div class="alert alert-warning"><p>No se pudo agregar el usuario!</p></div>
          }
          @case (2) {
              <div *ngFor="let error of errores" class="alert alert-danger">
                  <p>{{ error }}</p>
              </div>
              <!-- <div class="alert alert-danger"><p>Error de servidor!</p></div> -->
          }
      }
      </span>
        <form #updateUserForm="ngForm" (ngSubmit)="updateImageUser(updateUserForm)">
          <label for="file" class="file-upload-label">
            <div class="file-upload-design">
          <svg   viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7Z"/>
          <path d="M12 14C8.13401 14 5 17.134 5 21H19C19 17.134 15.866 14 12 14Z" stroke="#000000" />
          </svg>
            <input id="file" type="file" (change)="onImageFileChange($event)" /></div>
          </label>
          <div class="horizontal">
            <div class="name-input" style="width: 45%; margin-bottom: 10px;">
            <label for="nameUpdate"  class="form-text modal-title">Nombre</label>
            <input type="text" id="nameUpdate" #nameUpdate="ngModel" name="nameUpdate" pattern="^[a-zA-Z]*$" 
            required   class="input" [(ngModel)]="identityAux.name"/>

            @if(!nameUpdate.valid && nameUpdate.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }
            </div>
            <div class="name-input" style="width: 45%;">
              
            <label for="lastnameUpdate"  class="form-text modal-title">Apellido</label>
            <input type="text" id="lastnameUpdate" #lastnameUpdate="ngModel" name="lastnameUpdate" pattern="^[a-zA-Z]*$" 
            required  class="input" [(ngModel)]="identityAux.apellido" placeholder="Digita tu primer apellido"/>
            
            @if(!lastnameUpdate.valid && lastnameUpdate.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }
            </div>
          </div>
          <div style=" margin-bottom: 20px; ">
           
            <label for="emailUpdate"  class="form-text modal-title">Correo</label>
            <input type="email" id="emailUpdate" #emailUpdate="ngModel" name="emailUpdate" pattern="\b[\w\.-]+@[\w\.-]+\.\w{2,4}\b" 
            required placeholder="ejemplo@gmail.com" class="input" [(ngModel)]="identityAux.email" readonly />

            @if(!emailUpdate.valid && emailUpdate.touched){
              <small class="invalid-feedback d-block">Formato invalido</small> 
          }

          </div>
          <div style=" margin-bottom: 20px; ">
            
            <label for="dateUpdate"  class="form-text modal-title">Fecha de Nacimiento</label>
            <input type="date" id="dateUpdate" #dateUpdate="ngModel" name="dateUpdate"
            required class="input" [(ngModel)]="identityAux.fechaNacimiento"/>
        
          </div >
          <input type="submit" class="btn-sesion" value="Editar perfil">
          
          <div class="registrar">
        
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
}

   <div style="height: 100%; margin-top: 61px;">
      <router-outlet></router-outlet>
    </div>
  

</div>