.combo-body{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,83,44,1) 100%);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color:#ffffff;
    overflow: hidden;
}
.combo-container{
    width: 80%;
    padding: 30px;
    max-height: 100%;
    overflow: hidden; 
    text-align: center;
}
h3{
    margin: 10px;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-style: oblique;
    font-variation-settings:"wdth" 200;
    font-size: 3em;
}
.div-scroll {
    max-height: 70vh;
    overflow-y: scroll;
}
.div-scroll::-webkit-scrollbar {
    width: 15px; 
}
.div-scroll::-webkit-scrollbar-track {
    background: rgb(255, 255, 255); 
    border-radius: 20px;
}
.div-scroll::-webkit-scrollbar-thumb {
    background-color:rgb(54, 70, 44); 
    border-radius: 10px;
    border: 4px solid #555b5a; 
}
.card-container{
    display: flex;
    border-bottom: 2px solid #ffffff; 
    padding: 10px;
}
.image-div{
    width: 250px;
    height: 25vh;
    display: flex;
    justify-content: left;
    align-items: center;
}
.image-combo {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
}
.info-combo {
    display: flex;
    gap: 10px;
    align-content: center;
    align-items: flex-start;
    text-align: start;
    flex-direction: column;
    width: 75%;
    padding: 20px;

}
.title-combo {
    font-family: 'Roboto Condensed';
    color: #E9AD2B;
    font-weight: 700; 
    text-transform: uppercase;
    font-size: 2em;
}
.text-combo {
    font-family: 'Timmana', sans-serif;
    color: #69936E;
    font-size: 1.2em;
}
/* Responsivo */
@media (max-width: 768px) {
    .combo-body {
        height: 100dvh;
    }
    .combo-container{
        width: 100%;
        padding: 10px;
    }
    .card-container {
        flex-direction: column;
    }

    .image-div, .info-combo {
        width: 100%;
    }

    .info-combo {
        text-align: left;
        padding: 20px 0px;
    }
}