<div class="combo-body" style="height: 100%;">
    <div class="combo-container">
      <h3>Alimentos</h3>
      <div class="div-scroll">
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/Nachos.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Nachos</h5>
              <p class="text-combo">Precio: ₡2300</p>
          </div>
        </div>
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/Burritos.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Burrito</h5>
              <p class="text-combo">Precio: ₡3300</p>
          </div>
        </div>
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/HotDog.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Perro Caliente</h5>
              <p class="text-combo">Precio: ₡2000</p>
          </div>
        </div>
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/Palomitas.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Palomitas Grandes</h5>
              <p class="text-combo">Precio: ₡2700</p>
          </div>
        </div>
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/Pizza.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Pizza Personal</h5>
              <p class="text-combo">Precio: ₡4000</p>
          </div>
        </div>
        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="../../../../assets/img/Tacos.jpeg" alt="">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">Tacos</h5>
              <p class="text-combo">Precio: ₡2500</p>
          </div>
      </div>
    </div>
  </div>
</div>

