<div class="combo-body" style="height: 100%;">
    <div class="combo-container">
      <h3>Alimentos</h3>
      <div class="div-scroll">

        @for (item of comidas; track $index) {

        <div class="card-container">
          <div class="image-div">
            <img class="image-combo" src="{{imageURL}}{{item.imagen}}" alt="Imagen comida">
          </div>
          <div class="info-combo">
              <h5 class="title-combo">{{item.nombre}}</h5>
              <div style="display: flex; gap: 10px;">
                <span class="text-combo">Precio:</span>
                <span class="text-combo"><strong> {{item.precio}}</strong></span>
              </div>
          </div>
        </div>

        }

    </div>
  </div>
</div>

