<div class="movie-body">
    <div class="movie-container">
        <div class="image-container">
        <img src="{{urlAPI}}{{imagenHorizontal}}" alt="El niño y la garza">
        </div>
        <div class="movie-details">
            <div class="movie-info">
                <h1 class="font-roboto">{{pelicula.nombre}}</h1>
                <p style="margin-bottom: 10px;">{{pelicula.descripcion}}</p>
                <li style="display: flex; gap: 10px;margin-bottom: 5px;">   
                    <p class="font-racing">ELENCO:</p>
                    <p>{{pelicula.elenco}}</p>
                </li>
                <li style="display: flex; gap: 10px;"> 
                    <p class="font-racing">DIRECTOR:</p>
                    <p>{{pelicula.director}}</p>
                </li>
            </div>
            <div class="another-info">
                <ul class="movie-options">
                    <li style="display: flex; gap: 10px;">
                        <p class="font-racing" >RESTRICCIÓN:</p>
                        <p>{{pelicula.calificacionEdad}}</p>
                    </li>
                    <li style="display: flex; gap: 10px;">
                        <p class="font-racing">DURACIÓN:</p>
                        <p>{{pelicula.duracion}}</p>
                    </li>
                    <li style="display: flex; gap: 10px;">
                        <p class="font-racing">Lenguaje:</p>
                        <p>{{pelicula.idioma}}</p>
                    </li>
                    <li style="display: flex; gap: 10px;">
                        <p class="font-racing">Subtítulos:</p>
                        <p>{{pelicula.subtitulo}}</p>
                    </li>
                </ul>
                <div class="showtimes ">
                    <p class="font-racing today">HOY</p>
                    <div class="boton-contenedor">
                    <button *ngFor="let hora of funcionesAux" [routerLink]="['/asientos', hora.id]" >{{hora.horaInicio.substring(0, 5)}} ({{pelicula.animacion}})</button> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div>a</div>
</div>