.movie-body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,83,44,1) 100%);
}

.movie-container {
    display: flex;
    flex-direction: column;
    width: 75rem;
    
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

.image-container {
    flex: 1;
    position: relative;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 45vh;
   
}
.movie-details {
    flex: 1;
    margin-top: 30px;
    margin-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.movie-details h1 {
    font-size: 3rem;
    color: #f3af3d;
    margin: 0 0 20px 0;
}
.movie-info{
    width: 55%;
    color:#fff;
}
.another-info{
    width: 35%;
    color:#fff;
    padding-top: 6%;
}
.movie-options {
    line-height: 30px;
    list-style: none;
    padding: 0;
}
.showtimes{
    margin-top: 30px;
}
.showtimes button {
    background: linear-gradient(145deg, #8DB575, #225348);
    border: none;
    color: #ffffff;
    padding-top: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: "Timmana", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, box-shadow 0.3s;
}
.today{
    margin-bottom: 10px;
    color: black;
    border-radius: 6px;
    padding: 6px 12px;
    width: fit-content;
    background: linear-gradient(90deg, rgba(239, 195, 101, 1) 0%, rgba(179, 128, 18, 1) 100%);
}

.showtimes button:hover {
    background: linear-gradient(145deg, #a1c294, #397a40);
    box-shadow: 6px 8px rgba(0, 0, 0, 0.3);
}
.font-racing{
    font-size: 1.2em;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-roboto{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}
.boton-contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

/*Responsive*/
@media (max-width: 768px) {
    .home-body{
        height: 0px;
    }
    .movie-container {
        flex-direction: column;
    }
    .movie-info{
        width: 98%;
        margin: 0px 5px;
    }
    .image-container {
        width: 95%;
    }

    .movie-details {
        flex-direction: column;
        padding: 0 10px;
        margin-top: 10px;
    }

    .another-info {
        width: 95%;
        margin: 5px;
        padding-top: 0px;
    }
}