<div class="combo-body" >
  <div class="combo-container">
    <h3>Alimentos</h3>
    <div class="div-scroll">

      @for (item of comidas; track $index) {

      <div class="card-container">
        <div class="image-div">
          <img class="image-combo" src="{{imageURL}}{{item.imagen}}" alt="Imagen comida">
        </div>
         <div class="info-combo">
              <h5 class="title-combo">{{item.nombre}}</h5>
              <p class="description-combo">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vulputate interdum augue non ultricies. Integer scelerisque, ligula at varius pharetra, ligula tellus bibendum turpis, a ornare libero dui in sapien. Nunc sed ante magna. Ut nulla dui, ultrices ac arcu non, accumsan efficitur sapien. Quisque non eleifend lacus. Sed elementum et nisi a consequat. Nulla porta metus sit amet turpis.
              </p>
              <div class="spinner-div" style="display: flex; gap: 10px; align-items: center;">
                <div style="display: flex; align-items: center;">
                  <label class="text-combo" for="cantidad" style="height: 16px; margin-right: 10px; color: white;">Cantidad</label>
                  <button class="decrement" (click)="decrement(item)">-</button>
                  <input type="number" class="quantity-spinner" [value]="getQuantity(item)" min="0" max="20">
                  <button class="increment" (click)="increment(item)">+</button>
                </div>          
              
              <div style="display: flex; gap: 10px;height: 17px;">
                <span class="text-combo">Precio:</span>
                <span class="text-combo"> ₡{{item.precio}}</span>
              </div>
            </div>
        </div>
      </div>
      }
  </div>
  <div style="display: flex; justify-content: flex-end; margin-bottom: 20px;">
    <button (click)="enviarServiceCompartido()"  class="botonSiguiente">Siguiente</button> 
</div>
</div>
</div>
