@if(!authTokenUser()){
  {{redirectToHome()}}
}@else{
<div class="pago-body">
    <div class="contenido-pago">
      <div class="cuerpo2">
        <h1>METODO DE <span style="color: #EDBB4F;">PAGO</span></h1>
        <div style="display: flex; justify-content: space-between;margin-top: 30px;">
          <p class="monto-text">MONTO POR PAGAR</p>
          <p class="sumid-text"><span style="color: #EDBB4F;">{{ total}}</span> colones</p>
        </div>
        <div class="input-pagos">
          <form #paymentForm="ngForm" (ngSubmit)="onSubmit(paymentForm)">
            <div class="input-group">
              <label for="credit-card">Número de tarjeta de crédito</label>
              <input
                type="text"
                id="credit-card"
                class="input-field"
                placeholder="XXX-XXX-XXX-XXX"
                [(ngModel)]="creditCardNumber"
                name="creditCardNumber"
                (input)="handleInput($event)"
                maxlength="19"
                required
              />
            </div>
            <div class="input-group" style="margin-bottom: 10px;">
              <label for="credit-card-name">Nombre de tarjeta</label>
              <input
                type="text"
                id="credit-card-name"
                class="input-field"
                maxlength="19"
                required
                name="creditCardName"
                [(ngModel)]="creditCardName"
              />
            </div>
            <div>
              <label style="font-size: 16px; margin-bottom: 10px;">EXPIRA</label>
              <div class="expiracion">
                <div style="display: flex; flex-direction: column; margin-bottom: 10px;">
                  <label for="expiration-month">MES</label>
                  <select id="expiration-month" class="input-field-time" required name="expirationMonth" [(ngModel)]="expirationMonth">
                    <option value="" disabled selected>Seleccione</option>
                    <option class="dropD" *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">{{ month }}</option>
                  </select>
                </div>
                <div style="display: flex; flex-direction: column;margin-bottom: 10px;">
                  <label for="expiration-year">AÑO</label>
                  <input
                    type="text"
                    id="expiration-year"
                    class="input-field-time"
                    [(ngModel)]="expirationYear"
                    name="expirationYear"
                    (input)="handleYearInput($event)"
                    maxlength="4"
                    required
                  />
                </div>
              </div>
              <div>
                <div style="display: flex; flex-direction: column;margin-bottom: 10px;">
                  <label for="cvc">CVC/CCV</label>
                  <input
                    type="text"
                    id="cvc"
                    class="input-field-time"
                    [(ngModel)]="cvc"
                    name="cvc"
                    (input)="handleCVCInput($event)"
                    maxlength="3"
                    required
                  />
                </div>
              </div>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin:  40px 0 0 0;">
              <button [disabled]="!paymentForm.form.valid" data-bs-dismiss="modal" data-bs-target="#staticBackdrop" data-bs-toggle="modal">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front text"> Realizar compra </span>
              </button>
            </div>
          </form>
        </div>
      
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1  id="staticBackdropLabel">Factura</h1>
            </div>
            <div class="modal-body">
            <div class="info-fact"><p><strong>Usuario:</strong></p><p> {{identity.name}}</p></div>
                <div class="info-fact"><p><strong>Película:</strong></p><p>{{pelicula.nombre}}</p></div>
                <div class="info-fact"><p><strong>Hora:</strong></p><p>{{funcion.horaInicio}}</p></div>
                <div class="info-fact"><p><strong>Sala:</strong></p><p>{{funcion.sala}}</p></div>
                <div class="info-fact"><p><strong>Asientos:</strong></p>
                  <div style="display: flex;">
                    <div *ngFor="let asiento2 of asientos"><p>{{ asiento2.fila}}-{{ asiento2.numero}},</p></div>
                </div>
              </div>
                @if(comidas.length!=0){
                  <div class="info-fact"><p><strong>Comida:</strong></p>
                    <div style="display: flex;">
                        <div *ngFor="let camida2 of comidas"><p>{{ camida2.nombre}},</p></div>
                    </div>
                  </div>
                }
                <div class="info-fact"><strong>Total:</strong> {{total}}</div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" [routerLink]="['']"  data-bs-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
}
  
  