body{
    height: 100% !important;
}
.pago-body{
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(39,83,44,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center
}
.contenido-pago{
    height: 100%;
    width: 70rem;
    border-top: solid 4px black;
    background:rgba(47, 99, 53, 0.27);
    display: flex;
    justify-content: center;
}
.cuerpo2{
    /* background-color: aqua;*/
    color: white;
     width: 30rem;
     height: 100%;
      text-align: center;
      margin-bottom: 32px;
 }
 h1{
     font-size: 35px;
    
     margin-top: 20px;
     font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
     font-style: normal;
 }
 .monto-text{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
 }
 .sumid-text{
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
 }
 .input-pagos{
    margin-top: 30px;
    text-align: left;
 }
 .input-goup{
    margin-bottom: 30px;
 }
 .input-field {
   
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #69936E ;
    border-radius: 4px;
    margin-bottom: 10px;
}
.input-field:focus {
    border-color: #ccc; /* Mantén el mismo color de borde o cámbialo según desees */
    box-shadow: none; /* Elimina el efecto de sombra */
  }
.input-field::placeholder{
    color: #69936E;
}
.input-field-time{
    padding: 10px;
    width: 10rem;
    background-color: transparent;
    border:none;
    border-bottom: 2px solid #69936E ;
    border-radius: 4px;
    margin-bottom: 10px;
}
.input-field-time:focus {
    border-color: #ccc; /* Mantén el mismo color de borde o cámbialo según desees */
    box-shadow: none; /* Elimina el efecto de sombra */
  }
.input-field-time::placeholder{
    color: #69936E;
}
.expiracion{
      display: flex; 
      justify-content: space-between;
      margin-bottom: 20px;
    }
.dropD{
    background-color: #69936E;
}
/*Buttom*/
button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(59.86deg 100% 16%) 0%, hsl(53.7deg 100% 32%) 8%, hsl(56.78deg 100% 32%) 92%, hsl(72.16deg 100% 16%) 100%);
}
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: black;
    background:#EDBB4F;
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }
/*******/
@media (max-width:568px) {
    .expiracion{
        flex-direction: column;
      }
      .input-field-time{
        width: 100%;
      }
      .cuerpo2{
        width: auto;
        padding: 0 40px;
      }
}