<div class="index-body">
  
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula1.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
      </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula2.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula3.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="card-container">
        <div>

        </div>
      <div class="reducction">
          <div class="cartelera">
            <p class="titule-about-body">C A R T E L E R A</p>
            <div  class="card-cartelera" >
              <div *ngFor="let imagen of imagenesPeli" class="card1"><img class="imagenP" src="{{urlAPI}}{{imagen.imagen}}"></div>
            </div>
          </div>
          <div class="comida">
            <p class="titule-about-body">A L I M E N T O S</p>
            <div class="comida1">
              <div class="comida-foto">a</div>
              <div class="comida-info">
                <h3>Sushi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nisi, illo cum illum, non delectus maxime nemo repellat culpa deserunt ipsum laboriosam, dolorem quaerat optio! Qui velit ipsam voluptatibus voluptatum.</p>
              </div>
            </div>
            <div class="comida1">
              <div class="comida-info">
                <h3>Sushi</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nisi, illo cum illum, non delectus maxime nemo repellat culpa deserunt ipsum laboriosam, dolorem quaerat optio! Qui velit ipsam voluptatibus voluptatum.</p>
              </div>
              <div class="comida-foto" style="margin-left: 20px; margin-right: 0;">a</div>
            </div>
          </div>
        </div>

        <div>
          
        </div>
    </div>


    <div class="footer">
      <div style="display: flex; padding-top: 20px;justify-content: space-around; color: aliceblue;">
        <div>
          <p>CINE OASIS <strong>© 2023</strong> </p>
        </div>
        <div style="line-height: 2px;">
          <p>Diseñadores: Jose Alejandro Chaves, Daniel Gonzales</p>
          <p>Josue Solorzano</p>
        </div>
      </div>
    </div> 

  </div>

