<div class="index-body">

  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula1.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
      </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula2.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula3.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px;margin-top: 30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="card-container">
        <div>

        </div>
      <div class="reducction">
          <div class="cartelera">
            <p class="titule-about-body">C A R T E L E R A</p>
            <div  class="card-cartelera" >
              <div *ngFor="let imagen of imagenesPeliAux" class="card1">
                @if(imagen.descripcion == "vertical"){
                   <img class="imagenP" [routerLink]="['/peliculas', imagen.idPelicula]"  src="{{urlAPI}}{{imagen.imagen}}">
                }
              </div>
            </div>
          </div>
          <div class="comida">
            <p class="titule-about-body">A L I M E N T O S</p>
            
            <div class="cardComida" *ngIf="comidas.length > 0">
              <div class="comida-foto">
                <img class="image-combo" [src]="imageURL + comidas[0].imagen" alt="Imagen comida" />
              </div>
              <div class="comida-info">
                <h3>{{ comidas[0].nombre }}</h3>
                <div class="comida-descripcion" >
                  <p>Disfruta una experiencia única con nuestras deliciosas opciones mientras ves las mejores películas en Cine Oasis.</p>
                  <div>
                    <span class="text-combo">Precio: </span>
                    <span class="text-combo">₡{{ comidas[0].precio }}</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="cardComida2" *ngIf="comidas.length > 1">
              <div class="comida-info" style="margin-top: 40px;">
                <h3>{{ comidas[1].nombre }}</h3>
                <div class="comida-descripcion">
                  <p>Disfruta una experiencia única con nuestras deliciosas opciones mientras ves las mejores películas en Cine Oasis.</p>
                  <div>
                    <span class="text-combo">Precio: </span>
                    <span class="text-combo">₡{{ comidas[0].precio }}</span>
                  </div>
                </div>
              </div>
              <div class="comida-foto" style="margin-left: 20px; margin-right: 0;">
                <img class="image-combo" [src]="imageURL + comidas[1].imagen" alt="Imagen comida" />
              </div>
            </div>
          </div>

        </div>
    </div>


    <div class="footer">
      <div class="footer-content">
        <div>
          <p>CINE OASIS <strong>© 2024</strong> </p>
        </div>
        <div class="footer-dev" >
          <p>Desarrolladores:</p>
          <p>Josue Solorzano | Jose Alejandro Chaves | Daniel Gonzalez</p>
        </div>
      </div>
    </div> 

  </div>

