.index-body{
    width: 100%;
    background: linear-gradient(0deg, rgba(233, 173, 43, 1) 0%, rgba(136, 183, 108, 1) 61%, rgba(39, 83, 44, 1) 100%);
}

.image-container {   
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 50vh; 
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7); 
    background-position: center;
    background-size: cover;
}
.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad y el color según sea necesario */
    z-index: 1; /* Asegúrate de que el pseudo-elemento esté sobre la imagen */
  }
.carousel-caption {
    display: flex !important;
    flex-direction: column;
    align-items: center; /* Centra el contenedor de texto horizontalmente */
    z-index: 1;
}

.texto-izquierda {
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    line-height: 80%;
    font-size: clamp(6rem, 9vw, 8rem);
    text-align: left;
    margin: 0 auto; /* Centra el contenedor de texto horizontalmente */
}

.card-container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.reducction{
    margin-top: 4%;
    width: 70rem;
    height: 100%;
}
.cartelera{
    border-top: solid 2px black;
    padding: 35px;
    background-color: rgba(239, 239, 240, 0.153);
    backdrop-filter: blur(5px);
    height: 100%;
    margin-bottom: 4rem;
}
.titule-about-body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: aliceblue;
    font-size: 20px;
    border-bottom: solid 2px white;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    z-index: 2; /* Asegura que esté por encima de la imagen */
    position: relative; /* Agregamos posición relativa para los elementos hijos absolutos */
}



.card-cartelera {
   
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas por defecto */
    width: 100%; /* Asegura que cubra el 100% del contenedor */
    gap: 3%;
    align-items: flex-start;
}

.card1 {
   
    height: 100%;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    font-size: clamp(0.2rem, 2vw, 1rem);
    background: #fff; 
    border-radius: 10px;
    transition: all .4s;
    background: green;
}
   
.card1::before {
    content: 'Comprar ticket';
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 10px;
    color: rgb(255, 255, 255);
   
    font-weight: 700;
}
   
.card1 .imagenP {
    width: 100%;
    height: 100%;
    position:sticky;
   border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 10;
    transition: all .4s;
    background-color: #fff;
}
   
.card1:hover .imagenP  {
    transform: translateY(-30px);
}

.comida{
    height: 100%;
    margin-bottom: 4rem;
    padding: 0 30px;
    gap: 40px;
}
.cardComida{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: flex-start
}
.cardComida2{
    display: flex;
    margin-bottom: 5rem;
    align-items: center;
    justify-content: flex-end;
}
.comida-foto{
    border-radius: 20px;
    width: 25%;
    height: 15vh;
    margin-right: 20px;
}
.image-combo {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
.comida-info{
    font-size: clamp(0.4rem, 3vw, 2rem);
}

@media (max-width:771px){
 
    .card-cartelera{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:690px){
   
    .comida-info{
        width: 100%;
    }
    .comida-foto{
        border-radius: 10px;
        width: 80%;
        height: 15vh;
    }

}
.footer{
    width: 100%;
    height: 10vh;
    background-image: linear-gradient(45deg, rgb(22, 22, 22),rgb(121, 121, 121)),linear-gradient(45deg, rgb(86, 33, 11) 0%, rgb(86, 33, 11) 19%,rgb(105, 58, 15) 19%, rgb(105, 58, 15) 64%,rgb(125, 83, 19) 64%, rgb(125, 83, 19) 68%,rgb(144, 109, 22) 68%, rgb(144, 109, 22) 81%,rgb(164, 134, 26) 81%, rgb(164, 134, 26) 87%,rgb(183, 159, 30) 87%, rgb(183, 159, 30) 100%),linear-gradient(135deg, rgb(86, 33, 11) 0%, rgb(86, 33, 11) 19%,rgb(105, 58, 15) 19%, rgb(105, 58, 15) 64%,rgb(125, 83, 19) 64%, rgb(125, 83, 19) 68%,rgb(144, 109, 22) 68%, rgb(144, 109, 22) 81%,rgb(164, 134, 26) 81%, rgb(164, 134, 26) 87%,rgb(183, 159, 30) 87%, rgb(183, 159, 30) 100%); background-blend-mode:overlay,overlay,normal;
}

.footer-dev{
    line-height: 2px; 
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-size: clamp(0.2rem, 2vw, 1rem);
}
/* Media queries para responsividad */