<div class="index-body">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula1.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
      </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula2.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <div class="image-container" style="background-image: url(../../../../assets/img/pelicula3.jpg);"></div>
          <div class="carousel-caption top-0 mt-4 d-none d-md-block" style="font-weight: 500px;">
              <p style="margin-bottom: 20px;  font-size: 18px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Las <span style="color: #D79A16;">mejores </span>peliculas</p>
              <div class="texto-izquierda">
                  <p>CINE</p>
                  <p>OAS<span style="color: #D79A16;">I</span>S</p>
              </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <div class="card-container">
        <div class="reducction">
          <div class="cartelera">
            <p class="titule-about-body">C A R T E L E R A</p>
            <div class="card-cartelera">
              <div class="card"><div></div></div>
              <div class="card"><div></div></div>
              <div class="card"><div></div></div>
              <div class="card"><div></div></div>
            </div>
          </div>
        </div>
    </div>  
</div>

